#slider-73 .wd-slide {
	min-height: 750px;
}

@media (max-width: 1024px) {
	#slider-73 .wd-slide {
		min-height: 600px;
	}
}

@media (max-width: 768px) {
	#slider-73 .wd-slide {
		min-height: 680px;
	}
}
